<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FTP_Dosya_Alma_Verme.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <FTP_Dosya_Alma_Verme.Properties.Settings>
            <setting name="Sunucu" serializeAs="String">
                <value />
            </setting>
            <setting name="KullaniciAd" serializeAs="String">
                <value />
            </setting>
            <setting name="Parola" serializeAs="String">
                <value />
            </setting>
            <setting name="CheckDurum" serializeAs="String">
                <value>False</value>
            </setting>
        </FTP_Dosya_Alma_Verme.Properties.Settings>
    </userSettings>
</configuration>